@media screen and (max-width:768px) {
   
.zwe-form-container{ 
    width:100%;
    height:100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}
}
.zwe-form-container{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // border:1px solid black;
    //  width:50%;
    height:50%; 
     
     fieldset{
        display: grid;
        grid-template-columns: auto auto auto auto;
        > :not(label):first-of-type{
            grid-column-start: 1;

        }
         
     }
    section {
    // border:1px solid blue;
     
        margin:0.5%;
        // width:50%;
        height:50px; 
        position: relative;
        overflow: hidden;
         > :not(label) {
            width:90%;
            height:100%;
            color:#595f6e; 
            padding-top: 1%;
            border:none; 
            margin-left:0.5rem;
            padding:0.5rem;
            outline: none;
           }
           > checkbox {
            color: red;
            background-color: #f4ff00;
            appearance: none;
            }
        
           > textarea {
        //    width:90%;
            height:100%;
            padding-top: 7%;
             
           }
            > select {  
              background-color: transparent;
            padding-top:0.5rem;
            padding-bottom: 0rem;
           }
           > :not(label):focus + .lable-name::after,> :not(label):valid + .lable-name::after,> :not(label):read-only + .lable-name::after,> :not(label):disabled + .lable-name::after {
            transform: translateX(0%);
            color:#595f6e;
               border-color:#595f6e;
           }
           > :not(label):focus + .lable-name .label-content-name, > :not(label):valid + .lable-name .label-content-name  ,> :not(label):read-only + .lable-name .label-content-name  ,> :not(label):disabled+ .lable-name .label-content-name  {
           transform: translateY(-150%);
            font-size:14px;
            color:none;
           }
           > :not(label):focus + .lable-name , > :not(label):valid + .lable-name  , > :not(label):read-only + .lable-name    , > :not(label):disabled + .lable-name    {
            background:none;
            }
          
            label{
                position:absolute;
                bottom:0%;
                left:0.5rem;
                width:100%;
                height:100%;
                pointer-events:none;
                background-color: #f5f5f5 ;
                border-bottom: 1px solid black;
            }
            label::after{
                content: "";
                position: absolute;
                left:0px;
                bottom:-1px;
                height: 100%;
             //   width:100%;
                border-bottom:3px solid white;
                transform:translateX(-100%);
                transition: all 0.3s ease;
            }
          
        }
        .label-content-name{
            position: absolute;
            bottom:5px;
            left:0.5rem;
            transition: all 0.3s ease;
        }
       fieldset {
        border: none;
        // background-color: #f5f2f2;
       
      
    }
        
        .minimized{
            height:2rem;
            overflow:hidden;    
            border-bottom: 1px solid #e1e1e1;

            legend {
                padding-top: 3.5rem;
            }    
            //    section {
            //     display: none;
            //     visibility: none;
            // }
            :not(legend){
            display: none;
            }
                } 

       .minimized:hover{
                 background-color: #f1f1f1;
                 transition:  all 0.7s ease ;   
                 legend {
                      font-weight: 600;
                       
    
                }
              }                
        
       .expanded{
            height:auto;
            border-bottom: 1px solid #cecece;

            legend {
                padding-top: 2rem;
                transition: all .5s ease;
                font-weight: 700;

            }  
            section {
                display: block;
            }
             }
             
             .subscribe-able{
                &{
                    height:auto;
                }
            }
            .subscribe-able.minimized{
                
                    height:2rem;
                
            }
     button{
        display: block;
        background-color: #1f1f1f;
        color: #f1f1f1;
        padding: 1rem 1.66rem;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.5rem;
        border: none;
    }
    > input::file-selector-button{
        font-weight: bold;
color: dodgerblue;
padding: 0.5em;
border: thin solid grey;
border-radius: 3px;
}

   
}
