
    nav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        min-height: 8vh;
        background-color: transparent;
        /* background-color:white; */
        font-family: 'Lucida Sans' ,sans-sherif ;
        /* backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px); */
            background-color: rgba(255, 255, 255, .8   );
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
        /* border-radius: 3px; */
        /* margin:10px; */
        

    }
.nav-scrolled{
    box-shadow:0 3px 20px rgba(0,0,0,0.2);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

    .logo{
        color:#ff5e14;
        text-transform:uppercase;
        letter-spacing:.10em;
        font-size:150%;
        display: flex; align-items: center;
    }
    .nav-links{
        display: flex;
        justify-content:space-around;
       width:40%;
    }
    .nav-links li {
        list-style:none;
         
    }
    .nav-links a {
            color:#ff5e14;
       text-decoration: none;
       letter-spacing:.3em;
        font-weight:bold;
        
    }
    


.burger div {
        width:25px;
        height:0.2em;
        margin:20%;
        background-color:#ff5e14;
        transition: all 0.3s ease

    }
    .burger{
        display:none;
        cursor:pointer
    }
@media screen and (max-width:1204px) {
.nav-links{
    width:60%;
}  
}
@media screen and (max-width:768px) {
    nav{
        backdrop-filter: none;
    }
.logo{
         
        font-size:100%;
    }
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.burger{
    display:block;
}  html,body{
    max-width: 100%;
    overflow-x:hidden;
}
.nav-links{
  
    position: absolute;
    right:0px;
    height:92vh;
     top:6vh; 
      display:none;
      flex-direction:column;
      align-items:center;
      width:30%;
    
    transform:translateX(100%);
    transition:transform 0.5s ease-in;
    /* border-radius: 100px; */
    /* background-color: white ; */
     /* backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); */
        background-color: rgba(255, 255, 255, .8);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
   
    
}.nav-links li{
     opacity:0;
  }
} 
.nav-active{
transform:translateX(0%);
display:flex;
}
@keyframes navlinkfade {
    from {
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}

.toggel .line1{
transform:rotate(-45deg) translate(-5px,6px);
}

.toggel .line2{
opacity:0}

.toggel .line3{
transform:rotate(45deg) translate(-5px,-6px);
}
.svg-logo{
height:8vh;
width:6vh;
}
.logo span{
margin:auto;
}