/**
fr: fractional unit of space
auto: automatic spacing
min-max: min and max values for grid layouts
auto-fit: altomatic childs in the grid
auto-fill

***/
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
details{ 
    width:auto;
    summary{
        display:block;
        padding-bottom: .5rem;
    background-color: #f5f5f5;
    padding-top: 1.2rem;
    color: #1f1f1f;
    
    }
    padding-left: 0.5rem;
    margin-left: .5rem;
    border-bottom:0.02rem solid #1f1f1f;
    background-color: #f5f5f5;
    
}
button{
    margin:.25rem;
    border: none; 
    background:black;
    padding:1rem 1.3rem; 
display: inline-block;
     font-weight:600;
     color:white; 
}


.edit-button{
  background:none;
  padding:0px;
  margin:0px;
  img{
    width:1rem;
    height:1rem;
  }
}
.editor-body {
    margin: 0;
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
 }
 /* WYSIWYG Editor */
 .editor-body {
   margin: 0.2rem;
  //  height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
 }
 
 /* WYSIWYG Editor */
 .editor {
   width: 100%;
   min-height: 1rem;
   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
   border-top: 6px solid #4a4a4a;
   border-radius: 3px;
   margin: 0.33rem;
   
   .toolbar {
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     
     .line {
       display: flex;
       border-bottom: 1px solid #e2e2e2;
       
       &:last-child {
         border-bottom: none;
       }
       
       .box {
         display: flex;
         border-left: 1px solid #e2e2e2; 
         
         .btn {
           display: block;
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
           transition: .2s ease all;
 
           &:hover, &.active {
             background-color: #e1e1e1;
             cursor: pointer;
           }
           &.icon button {
            border: none;
            padding:none;
            font-weight: none;
             color: black;background:none;
             padding:0px;
             margin:0px;
          } 
           &.icon img {
             width: 15px;
             padding: 10px;
           } 
           
           &.icon button.text-icon {
             padding: 0.33rem;
             font-weight: bolder;
             background: none;
             color: #4a4a4a;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
          } 
           &.icon.smaller img {
             width: 12px;
           }
           
           &.has-submenu {
             width: 20px;
             padding: 0 10px;
             
             &::after {
               content: '';
               width: 6px;
               height: 6px;
               position: absolute;
               background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg);
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               right: 4px;
             }
             
             .submenu {
               display: none;
               position: absolute;
               top: 36px;
               left: -1px;
               z-index: 10;
               background-color: #FFF;
               border: 1px solid #b5b5b5;
               border-top: none;
               
               .btn {
                 width: 39px;
               }
               
               &:hover {
                 display: block;
               }
             }
             
             &:hover .submenu {
               display: block;
             }
           }
         }  
       }
     }
   }
   
   .content-area {
     padding: 15px 12px;
     line-height: 1.5;
     
     .visuell-view {
       outline: none;
       
       p {
         margin: 12px 0;
       } 
     }
     
     .html-view {
       outline: none;
       display: none;
       width: 100%;
       height: 100%;
       border: none;
       resize: none;
     }
   }
 }
 
 
 /* Modal */
 .modal {
   z-index: 40;
   display: none;
   
   .modal-wrapper {
     background-color: #FFF;
     padding: 1rem;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 20rem;
     min-height: 10rem;
     z-index: 41;
     
     .close {
       position: absolute;
       top: 1rem;
       right: 1rem;
       cursor: pointer;
     }
     
     .modal-content {
       flex-direction: column;
       
       h3 {
         margin-top: 0;
       }
         
       input {
         margin: 1rem 0;
         padding: .5rem;
       }
       
       input[type="text"] {
         width: calc(100% - 1rem);
       }
       
       .row {
         
         label {
           margin-left: .5rem;
         }
       }
       
       button {
         background-color: #D2434F;
         border: 0;
         color: #FFF;
         padding: .5rem 1.2rem;
         cursor: pointer;
       } 
     }
   }
   
   .modal-bg {
     position: fixed;
     background-color: rgba(0, 0, 0, .3);
     width: 100vw;
     height: 100vh;
     top: 0;
     left: 0;
   }
 }
 
 /* Codepen Footer */
 footer {
   position: fixed;
   bottom: 0;
   display: flex;
   
   p {
     margin: 0.5rem 1rem;
     font-size: 12px;
   }
   
   a {
     text-decoration: none;
     font-weight: bold;
     color: #000;
   }
 }